extends layout

block content
  p Welcome to #{title}
  .row
    .col-sm-2
    .col-sm-8
      br
      br
      p Welcome to the neural network explorer! This site includes interactive visualizations of how neural networks learn how to classify data.
      p Neural Networks have gained popularity in machine learning from their ability to perform at difficult tasks such as image classification and speech-to-text conversion. What makes these tasks difficult is the huge variation in data of the same class. Consider, for example, every picture you've ever seen of a cat; cat pictures have different colors and positions, may be obscured by other objects, there may be one cat or many cats. You know what a cat looks like so picking out the images with cats is easy for you. But computers don't know what cats look like.
      img(src='images/cats-search.png', style='max-width:100%')
      i Image is a screen shot of a Gooogle image search for "cats".
      br
      br
      p Another popular task for neural networks is learning how to forecast serially dependent data. The most common applications of this task are to language and music. In this app we explore how a recurrent neural networks learns from and creates new music.
      br
      button.button.btn.btn-success
        a(href='/whatisaneuron', style='color:white') What is a neuron?
    .col-sm-2
