doctype html
html
  head
    title= title
    <!-- BOOTSTRAP LINKS -->
    <!-- Latest compiled and minified CSS -->
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    <!-- jQuery library -->
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js")
    <!-- Latest compiled JavaScript -->
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="//d3js.org/d3.v3.min.js")
    script(src="/bower_components/d3-tip/index.js")
    script(src="/js/bootstrap.min.js")
    script(src="/js/colorbrewer.min.js")
    script(src="/js/underscore.js")
    script(src="/js/layout_vars.js")
    script(src="/js/color_scales.js")
    script(src="/js/utils.js")
    script(src="/js/song.js")
    script(src="/js/unit_set.js")
    script(src="/js/iter_note_set.js")
    script(src="/js/neuron.js")
    script(src="/js/weight_set.js")
    script(src="/js/hidden_state.js")
    script(src="/js/memory_cell.js")
    script(src="/js/transfer_line_set.js")
    script(src="/js/transfer_line.js")
    script(src="/js/sub_iters.js")
    script(src="/js/current_iter.js")
    block header_content
  body
    #container
      .row
        .col-md-6
          h1= title      
      .row(style="margin-top: -50px")
        ul(class="nav nav-tabs") 
          li
            a(href="/create") Create
          li(class = active_page == "training" ? "active" : "")
            a(href="/train") Train                         
          li(class = active_page == "whatisaneuralnetwork" ? "active" : "")
            a(href="/whatisaneuralnetwork") What is a neural network? 
          li(class = active_page == "whatisaneuron" ? "active" : "")
            a(href="/whatisaneuron") What is a neuron?                      
          li(class = active_page == "home" ? "active" : "")
            a(href="/")
              i#home-icon.material-icons(style='font-size:14px') home            
      block content
  footer
    script(src="/js/training_walkthru.js")
    script(src="/js/add_network.js")
    script(src="/js/add_song_plot.js")
    block footer_content
