extends layout

block content
  #myModal.modal.fade(role='dialog', data-backdrop = 'false')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal')
          h4.modal-title#info-header Welcome to a #[b recurrent neural network!]
        .modal-body#info-text
          p We're going to train a network to create new music.
        .modal-footer
          button(type="button" class="btn btn-success btn-sm" id="training-action-button" data-dismiss='modal') Let's go!

block footer_content
  script(src='/js/train.js')
