extends layout

block content
  .row
    .col-sm-2
      br
    .col-sm-8
      br
      br
      p Some folks at Google recently created: #[a(href="http://playground.tensorflow.org/" target="_blank") The Neural Network Playground]. Feel free to check it out and come back, or go directly to learning <a href='/train'><b>how we use NNs to create music!</b></a>
    .col-sm-2  
