extends layout

block header_content
  link(rel='stylesheet', href='/stylesheets/whatisaneuron.css')

block content
  <!-- Information Panel -->
  div(class="panel panel-default", style="width: 54%; position: relative; height: 100px;")
    div(class="panel-body", id="training-panel")
        span#info-text This is a single neuron.

block footer_content
  script(src="/js/rbinom.js")
  script(src="/js/randoms.js")
  script(src="/js/step.js")
  script(src="/js/draw_plot.js")
  script(src="/js/shade_plot.js")
  script(src="/js/update_functions.js")
  script(src="/js/transfer.js")
  script(src='/js/gen_data.js')
  script(src='/js/whatisaneuron.js')
