extends layout

block header_content
  link(rel='stylesheet', href='/stylesheets/whatisaneuron.css')

block content
  <!-- Information Panel -->
  div(class="panel panel-default", style="width: 54%; position: relative; height: 100px;")
    div(class="panel-body", id="training-panel")
        span#info-text This is a simple neuron. Neurons are the #[b building blocks] of neural networks. This neuron takes 2 input values, multiplies and sums them by a set of weight, and then #[b maps the result to a probability of class 1 or 0] using a threshold function..      
  #controls
    i#refresh-button.material-icons.player-icons replay
    i#play-button.material-icons.player-icons.icon-lrg play_arrow
    <!-- i#pause-button.material-icons.player-icons pause -->
    i#step-button.material-icons.player-icons skip_next
block footer_content
  script(src="/js/rbinom.js")
  script(src="/js/randoms.js")
  script(src="/js/step.js")
  script(src="/js/draw_plot.js")
  script(src="/js/shade_plot.js")
  script(src="/js/update_functions.js")
  script(src="/js/transfer.js")
  script(src='/js/gen_data.js')
  script(src='/js/whatisaneuron.js')
