extends layout

block content
  .row
    .col-sm-2
      br
    .col-sm-8
      br
      br
      p Some folks at Google recently created: #[a(href="http://playground.tensorflow.org/" target="_blank") The Neural Network Playground]. We invite you there to take a look and come back when you're done!
    .col-sm-2  
