.axis path,
.axis line {
  fill: none;
  stroke: #eee;
  shape-rendering: crispEdges;
}

.axis text {
  font-size: 12px;
}

.dot {
  opacity: 0;
}

.dot-active {
    opacity: 0.2;
}

.dot:hover {
  cursor: pointer;
  opacity: 1;
}

#second_plot_group .dot-active {
    opacity: 1;
}

.current-point {
    opacity: 1;
}

.area {
    stroke-width: 0;
    opacity: 0.15;
}

#controls {
    margin: 0px auto;
    width: inherit;
    text-align: center;
    margin-left:100px;
    margin-top: 30px;
}


#help-controls i {
  padding-left: 5px;
}

#help-controls, #walkthru-control {
    color: #ddd;
    margin-top: 44px;
}

.player-icons {
    font-size: 18px;
    vertical-align: 18px;
    padding-left: 2px;
    padding-right: 2px;
}

.icon-lrg {
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: none;
    font-size: 48px;
    vertical-align: 5px;
}    


.negative_region {
    fill: #ededed;

}

.pos_bar {
    fill: #ddd;
    stroke: #333;
    stroke-width: 1px;
}

.neg_bar {
    fill: #333;
}

.wx_bar {
    opacity: 0;
}

.w_bar:hover, .wx_bar:hover, .negative_region:hover,
.whatisaneuron_unit_output_L0:hover, .whatisaneuron_unit_target_L0:hover, #losses_plot_group:hover {
  cursor: pointer;
  opacity: 1;
}

.link, .addition_link {
  fill: none;
  stroke: #ddd;
  opacity: .5;
  stroke-width: none;
  stroke-dasharray: none;
}

#iterations-counter {
    width: 100%;
}

#iterations-counter h1 {
    text-align: right;
    font-weight: 900;
    font-size: 48px;
}

svg {
    fill: #333;
}

#title h2 {
    font-size: 18px;
    font-weight: 100;
}
#title {
    margin-bottom: 60px;
}

.label {
  font-size: 100%;
}